extends ./base/layout.pug

block content
    main.full
        .inside.office
            .image
    main.full.bgc--gainsboro
        .container
            .breadcrumbs.pd_breadcrumbs
                ul.list_breadcrumbs.list--inline
                    li
                        a(href="/docs/")
                            b Home
                    li
                        p Contacto
    main.full
        .inside.maps
    main.full
        .container
            .row
                .column.column-full
                    .title.cl--gainsboro.txt_upper.txt_size--em3.mg_top--x30
                        h3 Siempre en contacto
                    .subtitle.subtitle_into.txt_upper.mg_bottom--x50.cl--silver
                        //-h4 Mobiliario.
            .row
                .column.column-full.txt_center.contact_form

                    form#contact
                        ul.list_contact.list--inline
                            li
                                .affair.error
                                    label *Asunto
                                    input.contac_input(type="text", placeholder="Tipo de Contacto")
                            li
                                .fullName.error
                                    label *Nombre y Apellidos
                                    input.contac_input(type="text", placeholder="Mi nombre completo")
                            li
                                .email.error
                                    label *Correo Electronico
                                    input.contac_input(type="email", placeholder="micorreo@empresa.com")
                            li
                                .reference.error
                                    label Referencia
                                    input.contac_input(type="text", placeholder="No. 12344")
                            li
                                label *Mensaje
                                textarea.contac_txtArea(type="text", rows="16", cols="60", placeholder="Cuentanos ahora")
                        .box_submit
                            buttom.btn.btn_site Enviar
    main.full.bgc--blue.pd_newslater
        .container
            .row
                .column.column-min
                    .title.cl--white.txt_app
                        h3 Carrera 123 #01 -02 Bogotá
                .column.column-min
                    .title.cl--white.txt_center.txt_app
                        h4 323 209 15 95
                        br
                        h4 320 341 25 66
                .column.column-min
                    .title.cl--white.txt_right.txt_app
                        h4 lflechas@lysglobalsolutions.com
                        br
                        h4 srubiano@lysglobalsolutions.com
