extends ./base/layout.pug

block content
    main.full
        .inside.office
            .image
    main.full.bgc--gainsboro
        .container
            .breadcrumbs.pd_breadcrumbs
                ul.list_breadcrumbs.list--inline
                    li
                        a(href="/")
                            b Home
                    li
                        p Office Solutions
    main.full.pd_bottom--x50
        .container
            .row
                .column.inside-min.bgc--silver.mg_top--x30
                    .title.cl--gray.mg_bottom--x20
                        h3 Office Solutions.
                    .sidebar
                        ul.list_siderbar.list--line
                            li
                                a.btn(href="#receptions") Recepciones.
                            li
                                a.btn(href="#waiting_room") Salas de espera.
                            li
                                a.btn(href="#chairs") Sillas.
                            li
                                a.btn(href="#tables") Mesas.
                            li
                                a.btn(href="#archiving") Almacenamiento y Archivo.
                            li
                                a.btn(href="#offices") Escritorios.
                            li
                                a.btn(href="#divisions") Divisiones oficina abierta.
                            li
                                a.btn(href="#panel") Tableros.
                .column.inside-middle
                    #receptions
                        include ./office/receptions.pug
                    #waiting_room
                        include ./office/waiting_room.pug
                    #chairs
                        include ./office/chairs.pug
                    #tables
                        include ./office/tables.pug
                    #archiving
                        include ./office/archiving.pug
                    #offices
                        include ./office/offices.pug
                    #divisions
                        include ./office/divisions.pug
                    #panel
                        include ./office/panel.pug


