main.full.bgc--blue.pd_newslater
    .container
        .row
            .column.column-middle
                .title.txt_upper.cl--white.mg_top--x10
                    h3 Contactanos ahora
            .column.column-middle
                .button
                    a.btn.btn_line.btn--full(href="/globalsolutions/contacto.html") Escribenos
footer.middle.bgc--lightBlack.pd_footer
    .container
        .row
            .column.column-middle
                .title.cl--white.txt_app
                    small L&S Global Solutions © 2017 All Rights Reserved Terms of Use and Privacy Policy
            .column.column-middle
                .social.txt_right.txt_app
                    ul.list--inline.list_social.cl--white
                        li
                            span.icon.icon-facebook
                            a.btn.btn_gosth(href="#face")
                        li
                            span.icon.icon-instagram
                            a.btn.btn_gosth(href="#insta")
