footer.middle.bgc--lightBlack.pd_footer
    .container
        .row
            .column.column-middle
                .title.cl--white
                    small L&S Global Solutions © 2017 All Rights Reserved Terms of Use and Privacy Policy
            .column.column-middle
                .social.txt_right
                    ul.list--inline.list_social.cl--white
                        li
                            span.icon.icon-facebook
                            a.btn.btn_gosth(href="#face")
                        li
                            span.icon.icon-instagram
                            a.btn.btn_gosth(href="#insta")
