include _mixing.pug
.header_wrapper
    header
        .container.bgc--white.bdr_radius--box3.box_shadow--header
            .column_brand
                .box-logo
                    span.logo.logo_lys--min
            .column_nav
                nav.nav
                    +list
            a.nav_trigger(href="#0") Menu
                span
