//-- lista home
mixin list
  ul.nav--site
    li
        a(href="/") Home
    li
        a(href="/about") Nosotros
    li
        a(href="/services") Servicios
    li
        a(href="/products") Productos
    li
        a(href="/contacto") Contacto
