//-- lista home
mixin list
  ul.nav--site
    li
        a(href="/") Inicio
    li
        a(href="/globalsolutions/office_solutions.html") Office Solutions
    li
        a(href="/globalsolutions/office_solutions.html") Comercial solutions
    li
        a(href="/globalsolutions/office_solutions.html") School solutions
    li
        a(href="/globalsolutions/contacto.html") Contacto
