//-- lista home
mixin list
  ul.nav--site
    li
        a(href="/") Inicio
    li
        a(href="/about") Office Solutions
    li
        a(href="/services") Comercial solutions
    li
        a(href="/products") School solutions
    li
        a(href="/contacto") Contacto
