//-- lista home Git
mixin listGit
  ul.nav--site
    li
        a(href="/globalsolutions/") Inicio
    li
        a(href="/globalsolutions/office_solutions.html") Office Solutions
    li
        a(href="/globalsolutions/commercial_solutions.html") Commercial solutions
    li
        a(href="/globalsolutions/school_solutions.html") School solutions
    li
        a(href="/globalsolutions/industrial_solutions.html") Industrial solutions
    li
        a(href="/globalsolutions/contacto.html") Contacto
