//-- lista home
mixin list
  ul.nav--site
    li
        a(href="/docs/") Inicio
    li
        a(href="/docs/office_solutions.html") Office Solutions
    li
        a(href="/docs/commercial_solutions.html") Comercial solutions
    li
        a(href="/docs/school_solutions.html") School solutions
    li
        a(href="/docs/industrial_solutions.html") Industrial solutions
    li
        a(href="/docs/contacto.html") Contacto
mixin listP
  ul.nav--site
    li
        a(href="/") Inicio
    li
        a(href="/office_solutions.html") Office Solutions
    li
        a(href="/commercial_solutions.html") Comercial solutions
    li
        a(href="/school_solutions.html") School solutions
    li
        a(href="/industrial_solutions.html") Industrial solutions
    li
        a(href="/contacto.html") Contacto
