include ../url_list.pug
.title.cl--blue.txt_upper.txt_size--em3.mg_top--x30
    h3 Butacos.
.subtitle.subtitle_into.txt_upper.mg_bottom--x50.cl--silver
    h5 Commercial Solutions.
ul.list_inside.list--inline
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--01.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 001.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--02.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 002.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--03.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 003.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--04.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 004.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--05.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 005.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--06.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 006.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--07.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 007.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--08.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 008.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--09.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 009.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--10.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 010.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--11.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 011.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--12.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 012.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--13.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 013.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/seats/seats--14.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Butaco 014.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
