include ../url_list.pug
.title.cl--blue.txt_upper.txt_size--em3.mg_top--x30
    h3 Mesas.
.subtitle.subtitle_into.txt_upper.mg_bottom--x50.cl--silver
    h5 Commercial Solutions.
ul.list_inside.list--inline
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--01.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 001.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--02.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 002.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--03.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 003.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--04.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 004.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--05.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 005.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--06.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 006.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--08.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 007.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--09.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 008.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--10.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 009.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tables/tables--11.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.cl--gray
                h4 Mesa 010.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href='/' + url)
