.title.cl--blue.txt_upper.txt_size--em3.mg_top--x30
    h3 Tándem.
.subtitle.subtitle_into.txt_upper.mg_bottom--x50.cl--silver
    h5 Commercial Solutions.
ul.list_inside.list--inline
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--01.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 001.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--02.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 003.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--03.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 003.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--04.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 004.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--05.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 005.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--06.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 006.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--07.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 007.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--08.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 008.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--09.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 009.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/commercial/tandem/tandem--10.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 Tádem 010.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
