.title.cl--blue.txt_upper.txt_size--em3.mg_top--x30
    h3 Sillas.
.subtitle.subtitle_into.txt_upper.mg_bottom--x50.cl--silver
    h5 School Solutions.
ul.list_inside.list--inline
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--01.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 01.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--02.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 02.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--03.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 03.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--04.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 04.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--05.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 05.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--06.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 06.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--07.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 07.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--08.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 08.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--09.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 09.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--10.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 10.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--11.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 11.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--12.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 12.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--13.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 13.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--14.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 14.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
    li
        .box_service.box_shadow.mg_box--x10.bgc--white
            .figure.mg_bottom--x20
                .bgi_item.mg_bottom--x10(style="background-image: url(images/inside/school/school--15.jpg)")
                .box_featured
                    .info.bgc--blue
                        span.cl--white Nuevo
            .subtitle.subtitle_into.txt_upper.mg_left--x20.mg_bottom--x10.cl--gray
                h4 school 15.
            .intro.pd_box--x20.hidden
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.btn--full.btn_site Cotizar.
            a.btn_gosth(href="/globalsolutions/contacto.html")
